@import '../../../styles/variables';

.uploadingInfo {
  margin-top: 20px;
  margin-bottom: 10px;
  p {
    color: $c-black;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    margin-top: 0px;
  }
}
.totalPayed {
  .total {
    color: $c-black;
    font-weight: 600;
  }
}

@media only screen and (max-width: 370px) {
  .leecherInfo {
    flex-direction: column;
    * {
      width: 100% !important;
      text-align: center !important;
      margin-top: 5px;
    }
  }
}
