@import '../../../styles/variables';

.uploadingInfo {
  margin-top: 20px;
  margin-bottom: 10px;
  p {
    color: $c-black;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    margin-top: 0px;
  }
}

.leecherInfo {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid $c-mediumgrey;

  &:last-child {
    border-bottom: 0px solid transparent;
  }
  .leecher-id {
    text-align: left;
    min-width: 50px;
    width: 50%;
  }
  .leecher-downloaded {
    min-width: 50px;
    width: 15%;
    text-align: left;
    white-space: nowrap;
  }
  .leecher-paid {
    min-width: 70px;
    width: 35%;
    text-align: right;
  }
}

@media only screen and (max-width: 370px) {
  .leecherInfo {
    flex-direction: column;
    * {
      width: 100% !important;
      text-align: center !important;
      margin-top: 5px;
    }
  }
}

.wires-list {
  width: 100%;
}

table.wires-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  tbody {
    border-bottom: 1px solid $c-mediumgrey;
    text-align: left;
    button {
      vertical-align: middle;
    }
    td {
      min-width: 50px;
      padding: 5px 5px;
      vertical-align: middle;
    }
    td.leecher-id,
    td.channel-id {
      max-width: 100px;
      font-style: italic;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td.channel-id {
      font-weight: bold;
    }
  }
}
