@value brandColor: #406741;

h1 {
	font-size: 60px;
}

.font {
	font-family: 'Cabin', sans-serif;
}

h3 {
	font-weight: bold;
}

a {
	text-decoration-line: none;
	color: black;
}

a:hover {
	color: brandColor;
	text-decoration-line: underline;
}

.button {
	border-radius: 2px;
	padding: 3px 16px 4px;
	background-color: #fff;
	border-color: #666;
	border-style: solid;
	border-width: 1px;
	font-size: 24px;
	color: #000;
	transition: background-color 0.5s ease;
	box-shadow: 0px 0px 1px;
}

table, td {
   border: 1px solid black;
}

td, th {
  padding: 16px;
}

table {
  border-collapse: collapse;
}

.button:hover {
	text-decoration-line: none;
	background-color: brandColor;
}

a.button:hover {
	color: white;
}
