// these files contain bootstrap sass variable overrides and must go in before bootsratrap
@import "./styles/_colors";
@import "./styles/_fonts";

@import "~bootstrap/scss/bootstrap";

@import "./styles/layout";
@import "./styles/footer";
@import "./styles/move-badge";
@import "./styles/home-page";
@import "./styles/navbar";
@import "./styles/rules";
@import "./styles/wallet/wallet-welcome";
@import "./styles/wallet/wallet-message";
@import "./styles/wallet/challenge-response";
@import "./styles/wallet/withdraw-in-progress";
@import "./styles/wallet/funding-in-progress";
@import "./styles/wallet/challenge-footer";
@import "./styles/_fonts";
@import "./styles/lobby";
@import "./styles/open-game-card";
@import "./styles/game-bar";
@import './styles/confirm-game';
@import "./styles/creating-open-game-modal";
@import './styles/waiting-room.scss';
@import './styles/game-over.scss';
