@import "~bootstrap/scss/bootstrap";

@import "./styles/home_page";
@import "./styles/lobby";
@import "./styles/rules";
@import "./styles/wallet/funding-welcome";
@import "./styles/_fonts";

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
}

.centered-container {
  display: flex;
  align-items: center;
}

.fa-hand-scissors, .fa-hand-rock, .fa-hand-paper {
  color: orange;
}
