// these files contain bootstrap sass variable overrides and must go in before bootsratrap
@import "./styles/_colors";
@import "./styles/_fonts";

@import "~bootstrap/scss/bootstrap";

@import "./styles/move-badge";
@import "./styles/home-page";
@import "./styles/navbar";
@import "./styles/rules";
@import "./styles/wallet/wallet-welcome";
@import "./styles/wallet/wallet-message";
@import "./styles/wallet/challenge-issued";
@import "./styles/wallet/withdraw-in-progress";
@import "./styles/wallet/funding-in-progress";
@import "./styles/wallet/challenge-footer";
@import "./styles/_fonts";
@import "./styles/lobby";
@import "./styles/open-game-card";
@import "./styles/game-bar";
@import './styles/confirm-game';



html, body, #root {
  height: 100%;
}

#root {
  display: flex;
}

.centered-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.fa-hand-scissors, .fa-hand-rock, .fa-hand-paper {
  color: orange;
}
