.app-in-background {
  background-image: 'fake-app.png';
}

.wallet-container {
  padding: 20px;
  width: 300px;
}
.channel-id {
  font-style: italic;
  text-align: center;
  font-family: 'WoodfordBourne';
}

// .channel-address:hover {
//   overflow: visible;
//   max-width: 320px;
// }

.fa-ul > li {
  padding: 0.7em 1em;
}

h1 {
  font-family: 'WoodfordBourne';
}

@font-face {
  font-family: 'WoodfordBourne';
  src: url('../fonts/woodfordbourne-regular-webfont.woff2') format('woff2'),
    url('../fonts/woodfordbourne-regular-webfont.woff') format('woff');
}

// Bootstrap overrides
$font-family-base: WoodfordBourne;

body {
  font-family: "WoodfordBourne", Fallback, sans-serif;
}
