.wallet-content {
  position: relative;
  top: 50%;
  left: 40px;
  right: auto;
  bottom: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflowscrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 450px;
}

.wallet-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.wallet-content-left {
  @extend .wallet-content;
  left: 20%;
}

.wallet-overlay-left {
  @extend .wallet-overlay;
  background-color: rgba(0, 0, 0, 0);
}

.wallet-content-right {
  @extend .wallet-content;
  left: 70%;
}

.wallet-overlay-right {
  @extend .wallet-overlay;
  background-color: rgba(0, 0, 0, 0);
}

.wallet-content-center {
  @extend .wallet-content;
  left: 50%;
}

.wallet-overlay-center {
  @extend .wallet-overlay;
}

.wallet-body {
  height: 440px;
  padding-top: 1em;
}

.fa-ul > li {
  padding: 0.7em 1em;
}

.channel-address {
  max-width: 100px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-address:hover {
  overflow: visible;
}
