:root {
  --ifm-color-primary-lightest: #8e8cff;
  --ifm-color-primary-lighter: #625fff;
  --ifm-color-primary-light: #534fff;
  --ifm-color-primary: #3531ff;
  --ifm-color-primary-dark: #1713ff;
  --ifm-color-primary-darker: #0803ff;
  --ifm-color-primary-darkest: #0400d5;
}

h1,
h2,
small,
a,
p {
  font-family: Chivo;
}

.sitemap {
  margin: 0 auto 1em;
}

img.drop-shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  align-self: center;
}
