@import "./_colors";

.cog-container {
  width: 335px;
  height: 350px;
  border-radius: 10px;
}

.cog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cog-button {
  width: 252px;
  height: 50px;
  border-radius: 40px;
  background-color: $rps-red;
  border-color: $rps-red;
}