.footer-resign {
  font-weight: bold;
  font-size: 16px;
  color: $rps-footer-grey;

  width: 188px;
  height: 40px;
  border-radius: 40px;
  border: solid 1px $rps-lobby-border-off-white;
  background-color: $white;
}

.footer-challenge {
  font-weight: bold;
  font-size: 16px;
  color: $rps-footer-grey;

  margin-left: 10px;
  width: 188px;
  height: 40px;
  border-radius: 40px;
  border: solid 1px $rps-background;
  background-color: $rps-background;
}

.navbar.footer-bar {
  background-color: $rps-background;
}
