# A .dockerignore symlink to this file exists in the monorepo root
# circleci uses a docker version that does not support buildkit.
# .dockerignore must be located at the root of the context and have a generic name.
# https://github.com/statechannels/monorepo/issues/1615 tracks the buildkit issue.

# Note: context for building the docker container is the root of the monorepo

# Ignore all first.
*
# Then add back directories that are needed.
!./*.json
!.env.*
!yarn.lock
!./package.json
!./packages/devtools
!./packages/e2e-tests
!./packages/persistent-seeder
!./packages/iframe-channel-provider
!./packages/client-api-schema
!./packages/nitro-protocol
!./packages/simple-hub/
!./packages/wire-format
# Then ignore node_modules
**/node_modules
