html, body {
    overflow-x: hidden;
    background-color: black;
    /* color: white; */
    font-family: 'Courier New', Courier, monospace;
  }


.full-width-bar {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding: 0.3rem 9999rem;
  }

h1.full-width-bar {
    background: grey;
}

p, h1, .status {
    font-size: 20px;
    font-family: monospace;
    color: white;
}

.game-over-message {
    color: purple;
}


#outcome-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0);
}

#you-win {
    background: green;
}

#you-lose {
    background: red;
}

#tie {
    background: darkorange;
}

#choose {
    background: purple;
}

#status-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
}

.status {
    background-color: black;
    font-size: 20px;
}

#table-container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    font-family: monospace;
    margin: 0;
    text-align: center;
    padding: 0;
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;  
}

td {
    width: 33.333%;
    height: 33.333%;
    white-space: pre;
    padding: 0px;
    border: 8px;
    position: relative;
    font-size: 100px;
    cursor: "crosshair";
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}


.xs {
    color: #BA4B2B;
}

.os {
    color: white;

}

.tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* .tile:hover{

} */

.dark {
    background-color: black;
}
.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.empty:hover {
    opacity: 0.4;
}

.dim {
    opacity: 0.2;
}

#magmo-logo {
    position: absolute;
    right: 0%;
    bottom: 45px;
    transform: translate(0,0);
}

.resignButton {
    position: absolute;
    left: 5px;
    bottom: 45px;
    font-size: 20px;
    transform: translate(0,0);
  }

.blank {
    margin: 0;
    padding: 0;
}

#tl {
    border-bottom: solid white;
    border-right: solid white;
    padding: 0;
}

#tm {
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
}

#tr {
    border-bottom: solid white;
    border-left: solid white;
}

#ml {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
}

#mm {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
}

#mr {
    border-top: solid white;
    border-bottom: solid white;
    border-left: solid white;
}

#bl {
    border-top: solid white;
    border-right: solid white;
}

#bm {
    border-top: solid white;
    border-right: solid white;
    border-left: solid white;
}

#br {
    border-top: solid white;
    border-left: solid white;
}


