@import "../../styles/variables";

.fileInfo {
  padding: 10px auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  .fileName {
    min-width: 250px;
    width: 50%;
  }
  .fileSize {
    min-width: 50px;
    width: 15%;
  }
  .fileCost {
    min-width: 70px;
    width: 35%;
    text-align: right;
  }
}
@media only screen and (max-width: 370px) {
  .fileInfo {
    flex-direction: column;
    .fileName,
    .fileSize,
    .fileCost {
      width: 100%;
      text-align: center;
      margin-top:5px;
    }
  }
}
