@value brandColor: #406741;

h1 {
	font-size: 60px;
}

.font {
  font-family: 'Open Sans', sans-serif;
}

h3 {
	font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
	text-decoration-line: none;
	color: white;
}

a:hover {
	text-decoration-line: underline;
}

table, td {
   border: 1px solid black;
}

td, th {
  padding: 16px;
}

table {
  border-collapse: collapse;
}

.button {
  border-radius: 3px;
  padding: 3px 16px 4px;
  background-color: brandColor;
  border-color: #666;
  border-style: solid;
  border-width: 1px;
  /*font-size: 18px;*/
  color: #fff;
  transition: background-color 0.5s ease;
  box-shadow: 0px 0px 1px;
  text-transform: uppercase;
}

.button:hover {
	text-decoration-line: none;
	background-color: #aaa;
}

a.button:hover {
	color: white;
}
