.expandable {
  display: block;
  margin-top: 15px;
}

.label {
  color: var(--primary-color);
  font: 16px/20px 'Karla';
  margin-right: 5px;
}

.labelContainer {
  display: flex;
  align-content: center;
}

.label,
.labelContainer {
  cursor: pointer;
}
