.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.spinner:before {
  display: block;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  content: "";
  margin: 4px;
  box-sizing: border-box;
}

.spinner:before :global {
  animation: 360ms spinner-work ease-out infinite;
}
