@import '../../styles/variables';

section {
  width: 100%;
}

.torrentInfo {
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  * {
    text-align: center;
    line-height: 24px
  }
  .fileName {
    text-align: left;

    min-width: 250px;
    width: 50%;
  }
  .fileSize {
    min-width: 50px;
    width: 15%;
  }
  .fileCost {
    min-width: 70px;
    width: 35%;
    text-align: right;
  }
  &.with-link {
    .fileName {
      min-width: 140px;
      width: 30%;
    }
    .fileSize {
      min-width: 50px;
      width: 10%;
    }
    .fileStatus {
      min-width: 50px;
      width: 17%;
    }
    .fileCost {
      min-width: 70px;
      width: 20%;
      text-align: right;
    }
    .fileLink {
      min-width: 70px;
      width: 23%;
      text-align: right;
      color: $c-orange;
      font-weight: 500;
      margin-top: 0px;
      font-size: 18px;
      position: relative;
      outline:0;
      max-height: 26px;

      .tooltiptext {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        visibility: hidden;
        width: 140px;
        background-color: $c-white;
        border: 1px $c-orange solid;
        color: $c-orange;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 2;
        top: 120%;
        left: 70%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .tooltiptext::after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $c-orange transparent;
      }

      &:hover .tooltiptext, .tooltiptext.true {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .torrentInfo,
  .torrentInfo.with-link {
    flex-direction: column;
    * {
      width: 100% !important;
      text-align: center !important;
      margin-top: 5px;
    }
  }
}
