@import '../../styles/variables';

section {
  width: 100%;
}

.torrentInfo {
  margin-bottom: 10px;
  margin-top: 10px;
  .row {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 24px;

    .fileName {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      min-width: 250px;
      width: 100%;
      padding: 10px 0;
    }

    .fileIcon {
      font-weight: bold;
      font-size: 25px;
      margin-right: 10px;
    }

    .fileSize {
      text-align: left;
      min-width: 120px;
      width: 15%;
    }

    .fileStatus {
      text-align: center;
      min-width: 50px;
      width: 17%;
    }

    .fileCost {
      min-width: 120px;
      width: 35%;
      text-align: center;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 300px;
}

.fileLink {
  min-width: 70px;
  width: 23%;
  text-align: right;
  color: $c-orange;
  margin-top: 0px;
  font-size: 18px;
  position: relative;
  outline: 0;
  max-height: 26px;
  .tooltiptext {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    visibility: hidden;
    width: 140px;
    background-color: $c-white;
    border: 1px $c-orange solid;
    color: $c-orange;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 70%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  img {
    width: 18px;
    margin-left: 5px;
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $c-orange transparent;
  }

  &:hover .tooltiptext,
  .tooltiptext.true {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 370px) {
  .torrentInfo {
    flex-direction: column;
    * {
      text-align: center !important;
      margin-top: 5px;
    }
    img {
      width: 18px;
      margin-left: 5px;
    }
  }
}
