@import './styles/variables';
@import './styles/reset';
@import './styles/box-sizing';
@import './styles/layout';
@import './styles/typography';
@import './styles/responsive';
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700&display=swap');

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: $c-black;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: $c-orange;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

#root {
  height: 99vh;
  width: 670px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 670px) {
  #root {
    min-width: 300px;
    width: 95vw;
    max-width: 900px;
  }
}

// The Rimble UI ConnectionBanner
main > div {
  margin-top: 10px;
}
