@import "./styles/variables";
@import "./styles/reset";
@import "./styles/box-sizing";
@import "./styles/layout";
@import "./styles/typography";
@import "./styles/responsive";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: $c-black;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

html,
body {
  height: 100%;
}

#root {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__content {
  width: 670px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media only screen and (max-width: 670px) {
  .wrapper__content {
    min-width: 300px;
    width: 95vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
