$c-black: #212322;
$c-blue: #006dff;
$c-bluealt: #0058e0;
$c-bluelightened: #78b2ff;
$c-lightgrey: #F0F0F0;
$c-mediumgrey: #DBDBDB;
$c-lessdarkgrey: #A4A4A4;
$c-darkgrey: #707070;
$c-darkergrey: #292929;
$c-red: #ff0000;
$c-darkred: #d02020;
$c-white: #fff;
$c-orange: #EA692B;
$c-orangealt: #F16721;
$f-rem: 15px;
$f-logo: 1rem;
$f-heading: 1.5rem;
$f-base: 1rem;
$f-sm: 0.73rem;

$f-light: 300;
$f-reg: 400;
$f-bold: 700;

$site-width: 50rem;
$screen-sm: 600px;

$rhythm: 10px;
