.button {
  border: none;
  color: #fff;
  padding: 10px 20px;
  flex: 1;
  margin-right: 10px;
  transition: box-shadow 150ms, background-color 150ms;
  font: bold 18px "Karla", sans-serif;
}

.button:focus {
  outline-style: dotted;
  outline-offset: -4px;
  outline-color: var(--outline-color);
}

.button:hover {
  box-shadow: 0px 3px 6px var(--shadow-color);
}

.button:last-child {
  margin-right: 0;
}

.primary {
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--alt-primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.secondary:hover {
  background-color: var(--alt-secondary-color);
}
