@import '../../../styles/variables';
@import '../../../styles/button';

.button {
  font-size: 18px;
  background-color: white;
  border-radius: 2px;
  color: $c-orange;
  padding: $rhythm $rhythm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $rhythm;
  border: 1px $c-orange solid;

  &.block {
    width: 100%;
  }

  &:not(:disabled) {
    &:hover {
      border-color: $c-orangealt;
      color: $c-orangealt;
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.28;
  }

  &.button--secondary {
    background-color: $c-darkgrey;

    &:hover {
      background-color: $c-darkergrey;
    }
  }

  widget-spinner {
    margin-right: $rhythm * 2;
  }
}
