$ttt-light-grey: rgba(255, 255, 255, 0.3);
$ttt-dark-blue: #4285f4;
$ttt-light-blue: #4285f4;
$ttt-mid-blue:  #4285f4; //#e34754;
$ttt-white: #ffffff;
$ttt-background: rgb(45, 45, 45);
$ttt-footer-grey: #777777;

$ttt-orange: #ba4b2b;

$ttt-ogc-off-white: #e9e9e9;
$ttt-ogc-grey: #747474;
$ttt-ogc-divider-grey: #c2c2c2;
$ttt-lobby-border-off-white: #c4c4c4;

$ttt-game-bar-color: #4285f4; //#2a3163;

// overriding bootstrap variables here will change the colors throughout reactstrap
// take a look at node_modules/bootstrap/sass/_variables.scss for variable to override
$body-bg: $ttt-background;
$body-color: $ttt-white;
