@import "./colors";
@import "./dimensions";

#table-container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
    translate(-150px, -150px);
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    line-height: 0px; // needed for firefox
    font-family: monospace;
    margin: 0;
    text-align: center;
    padding: 0;
    empty-cells: show;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: 'pointer';
  }
  
  td {
    width: 33.333%;
    height: 33.333%;
    white-space: pre;
    padding: 0px;
    border: 8px;
    position: relative;
    font-size: 100px;
    cursor: pointer;
  }
  
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  
  .xs {
    color: #ba4b2b;
  }
  
  .os {
    color: white;
  }
  
  .tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .empty:hover {
    opacity: 0.4;
  }
  
  .dim {
    opacity: 0.2;
  }

  
.blank {
    margin: 0;
    padding: 0;
  }
  
  #tl {
    border-bottom: solid white;
    border-right: solid white;
    padding: 0;
  }
  
  #tm {
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
  }
  
  #tr {
    border-bottom: solid white;
    border-left: solid white;
  }
  
  #ml {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
  }
  
  #mm {
    border-top: solid white;
    border-bottom: solid white;
    border-right: solid white;
    border-left: solid white;
  }
  
  #mr {
    border-top: solid white;
    border-bottom: solid white;
    border-left: solid white;
  }
  
  #bl {
    border-top: solid white;
    border-right: solid white;
  }
  
  #bm {
    border-top: solid white;
    border-right: solid white;
    border-left: solid white;
  }
  
  #br {
    border-top: solid white;
    border-left: solid white;
  }
  
