@import "./dimensions";
@import "./fonts";

.footer-resign, .footer-challenge, .footer-playagain {
  font-weight: bold;
  font-size: 16px;
  color: $white;
  width: 188px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px $ttt-lobby-border-off-white;
}

.footer-playagain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 220px;
}

.footer-resign:hover, .footer-challenge:hover, .footer-playagain:hover {
  color: $black;
  height: 40px;
  border-radius: 5px;
  border: $black;
  background-color: $white;
}

.footer-resign:disabled, .footer-challenge:disabled {
  color: $white;
}

.navbar.footer-bar {
  background-color: $ttt-footer-grey;
  font-size: 20px;
  font-family: $ttt-font-family;
  color: white;
}

.footer-logo-container {
  position: absolute;
  right: 10px;
  bottom: $footer-height;
  text-align: right;
  align-content: right;
}


#you-win {
  background: green;
}

#you-lose {
  background: red;
}

#tie {
  background: darkorange;
}

#choose {
  background: purple;
}

.resignButton {
  position: absolute;
  left: 5px;
  bottom: 45px;
  font-size: 20px;
  transform: translate(0, 0);
}
