@import "./dimensions";
@import "./colors";
@import "./fonts";

html, body, #root {
  height: 100%;
  overflow-x: hidden;
  background-color: $ttt-background;
  font-family: $ttt-font-family;
}

#root {
  display: flex;
}

.centered-container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: $navbar-height;
}

.game-container {
  padding-bottom: 70px;
}

// from http://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

code {
  font-size: 80%;
}

.wallet-overlay {
  z-index: 1035 !important;

}

#magmo-logo {
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 45px;
  transform: translate(0, -50%);
}

.turn-num {
  position: absolute;
  left: 0;
}

// this mostly for magmo logo and oops email
a {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: none;
}
