@import "./_colors";
@import "./dimensions";

.navbar {
    background-color: $rps-footer-grey;
    height: $navbar-height;
}

.navbar-button {
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $rps-white;
}

.navbar-button:hover {
    // color: $rps-white;
    text-decoration: none;
    font-weight: bold;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: $rps-red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user {
    font-size: 15px;
    color: $rps-white;
}

#status-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .status {
    background-color: black;
    font-size: 50px;
    text-emphasis: bold;
    font-family: monospace;
  }