@import "./colors";
@import "./dimensions";

.navbar {
    background-color: $ttt-mid-blue;
    height: $navbar-height;
    line-height: 1;
}

.navbar-button {
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $ttt-white;
}

.navbar-button:hover {
    color: $ttt-background;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: $ttt-mid-blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user {
    font-size: 15px;
    color: $ttt-white;
}

#status-container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .status {
    text-emphasis: bold;
    font-family: monospace;
  }