@import "./colors";

.cancel-challenge-button-container {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) translate(0,90px);
    align-content: center;
}

.cancel-challenge-button {
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    color: $ttt-white;
    width: 188px;
    height: 40px;
    border-radius: 40px;
    border-style: none;
    background-color: $ttt-orange;
}

.waiting-room-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.waiting-room-title {
    color: $ttt-white;
}