@import '../../../styles/variables';

.share-file {
  border-bottom: 1px solid $c-mediumgrey;
  padding: 10px auto;
  button {
    margin: 10px 0px 10px auto;
  }
  td:last-child {
    text-align: right;
  }
  td.button-cell {
    width: 150px;
  }
  td.other-cell {
    min-width: 50px;
    width: 24%;
  }
}
