@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body:not(#test-body) {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @apply bg-bg;
}

html:not(#test-html) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
