.sliderContainer {
  width: 100%;
  margin-top: 40px;
}

.slider {
  width: 100%;
  appearance: none;
  background: #fff;
  height: 4px;
  border: 1px solid var(--secondary-color);
}

.slider:focus {
  outline-color: var(--alt-secondary-color);
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 24px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.slider::-moz-range-thumb {
  width: 17px;
  height: 24px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

.min,
.max {
  position: absolute;
  font: 16px "Karla", sans-serif;
  color: var(--secondary-color);
}

.min {
  margin-top: 25px;
}

.max {
  right: 45px;
  margin-top: 7px;
}

.max::after {
  font: bold 11px/6px "Karla", sans-serif;
  display: block;
  content: "max";
  text-transform: uppercase;
  text-align: right;
}

.value {
  font: 18px "Karla", sans-serif;
  letter-spacing: -0.6px;
  color: var(--primary-color);
  position: relative;
  text-align: center;
  padding: 0 8px;
  top: -40px;
}
