@import '../../../styles/variables';
footer {
  display: flex;
  flex-direction: row;
  width: 670px;
  margin: 0 auto;
  text-align: left;
  height: 15px;

  .footer-logo {
    height: 15px;
    width: 80px;
    margin-right: 5px;
  }

  .footer-text {
    font-size: 12px;
    line-height: 14px;
    height: 12px;
    margin-top: 1.5px;
  }
}

@media only screen and (max-width: 670px) {
  footer {
    min-width: 300px;
    width: 95vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
