.step {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  height: 32px;
}

.step:last-child span[role='img'] {
  animation: none;
}

.stepStatus {
  width: 32px;
  display: flex;
  justify-content: center;
  margin-right: 18px;
}

.stepTitle {
  font: 18px/28px 'Karla', sans-serif;
}

.inProgress .stepTitle {
  color: var(--primary-color);
}
