@keyframes enter-dialog {
  0% {
    opacity: 0;
    width: 0%;
    top: 40%;
  }

  100% {
    opacity: 1;
    width: 560px;
    top: 50%;
  }
}

@keyframes spinner-work {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes checkmark-fade {
  0% {
    filter: grayscale(0);
    opacity: 1;
  }

  90% {
    filter: grayscale(0);
    opacity: 0.3;
  }

  100% {
    filter: grayscale(100%);
    opacity: 0.3;
  }
}
