:root {
  --backdrop-color: rgba(0, 0, 0, 0.32);
  --modal-inner-left-background-color: #f6f6f6;
  --primary-color: #2728e2;
  --secondary-color: #3d3d3d;
  --alt-primary-color: #1484fc;
  --alt-secondary-color: #6c6c6c;
  --outline-color: rgba(255, 255, 255, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.5);
}
