@import "./colors";

$loginButton-height: 44px;
$homePage-container-max-width: 70%;
$background-image-size: contain;
$background-image-width: 70%;
$background-image-max-width: 400px;

.homePage {
	background-color: $ttt-dark-blue;
	height: 100%;
	position: absolute;
	width: 100%;
}

.homePage-container {
	display: flex;
	flex-direction: column;
	padding-left: 15%;
	padding-top: 25%;
	max-width: $homePage-container-max-width;
}

.homePage-title-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 67%; 
	background-color: $ttt-dark-blue;
	z-index: 300;
}

.homePage-loginButton {
  margin-top: $loginButton-height;
	font-size: 20px;
	align-self: center;
	background-color: $ttt-orange;
	z-index: 500;
}

.homePage-image-container {
  position: fixed;
  right: 0px;
	top: 0px;
}
.homePage-image {
	height: 600px;
  position: absolute;
  right: 0px;
  top: 0px;
	z-index: 1;
	overflow: hidden;
}
