:root {
  --close-size: 20px;
  --close-offset: -14px;
}

.dialog {
  border: none;
  border-radius: 6px;
  width: 560px;
  margin: 0 auto;
  top: 50%;
  margin-top: -25%;
  padding: 12px 6px;
  box-shadow: -28px 0px 0px 0px var(--modal-inner-left-background-color);
}

.animateDialog :global {
  animation: 100ms enter-dialog linear;
}

.header {
  display: flex;
}

.close {
  padding: 16px 20px;
  width: 16px;
  height: 16px;
  background: none;
  border: none;
}

.close::before,
.close::after {
  transition: border-width 150ms, margin-left 150ms;
}

.close::before {
  width: var(--close-size);
  height: var(--close-size);
  content: " ";
  position: absolute;
  border-left: 2px solid var(--primary-color);
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

.close:hover::before,
.close:hover::after {
  border-width: 4px;
  margin-left: -1px;
}

.close::after {
  width: var(--close-size);
  height: var(--close-size);
  content: " ";
  position: absolute;
  margin-top: var(--close-offset);
  border-left: 2px solid var(--primary-color);
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
}

.icon {
  position: relative;
  left: -20px;
  background: url("/sc-logo.png") no-repeat;
  background-size: 30px 40px;
  width: 46px;
  height: 50px;
}

.title {
  margin: 86px 0px 0px 0px;
  color: var(--primary-color);
  font: 22px "Karla";
  width: 100%;
  padding: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.14);
}

.content {
  padding: 20px 40px;
}

.footer {
  display: flex;
  padding: 20px 40px;
}
