@import '../../../../styles/variables';

.progress-bar {
  height: 50px;
  width: 100%;
}
.bar-progress {
  position: absolute;
  top: 13px;
  left: 300px;
  text-align: center;
  width: 140px;
}

.bar-status {
  position: absolute;
  top: 13px;
  left: 450px;
  text-align: right;
}

.positive {
  background: $c-orange;
  transition: width 0.2s ease-in;
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  .bar-status,
  .bar-progress {
    color: white;
    stroke: white;
  }
  &.complete {
    .bar-cancelButton {
      display: none;
    }
    .bar-progress {
      left: 40%;
    }
    .bar-status {
      left: 80%;
    }
  }
}

.negative {
  background: $c-lightgrey;
  transition: width 0.2s ease-in;
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  margin-top: -50px;
  .bar-status,
  .bar-progress {
    color: $c-black;
  }
  .bar-status {
    color: $c-darkgrey;
  }
}
