@import '../../../styles/variables';

section.wires-list {
  width: 100%;

  table.wires-list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

    tbody,
    thead {
      border-bottom: 1px solid $c-mediumgrey;
      text-align: center;

      button {
        vertical-align: middle;
        color: $c-orange;
        border: 1px solid $c-orange;
        margin-top: -3px;
        margin-bottom: 0px;
        padding: 3px 6px;
        &.button-alt {
          color: $c-white;
          background-color: $c-orange;

          &:hover {
            border: 1px solid $c-darkred;
          }
        }
      }

      tr.peerInfo {
        padding-top: 10px;
        padding-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid $c-mediumgrey;

        &:last-child {
          border-bottom: 0px solid transparent;
        }

        td {
          min-width: 50px;
          vertical-align: middle;
          width: 20%;
          min-width: 100px;
          text-align: center;
        }

        .channel {
          padding-left: 0px;

          .status {
            font-size: 16px;
            padding-left: 5px;
            vertical-align: text-top;
            &.downloading {
              color: #006dff;
            }
            &.uploading {
              color: #1ec51b;
            }
            &.connecting {
              color: #d4af00;
            }
            &.disconnected {
              color: #b26b60;
            }
            &.finished {
              color: #f16721;
            }
          }
        }

        .dot {
          height: 14px;
          width: 14px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          &.downloading {
            background-color: #006dff;
          }
          &.uploading {
            background-color: #1ec51b;
          }
          &.connecting {
            background-color: #f1cd20;
          }
          &.disconnected {
            background-color: #fbe9e7;
            &:before {
              color: #b26b60;
              font-size: 12px;
              margin-left: -3px;
              position: absolute;
              content: '?';
            }
          }
          &.finished {
            background-color: #f16721;
          }
          &.downloading,
          &.uploading,
          &.connecting {
            animation: pulsate 2s ease-in-out;
            animation-iteration-count: infinite;
            opacity: 1;
          }
        }

        .peer-id,
        .channel-id {
          text-align: center;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .channel-id {
          font-weight: bold;
        }

        .transferred,
        .exchanged {
          min-width: 50px;
          text-align: center;
          white-space: nowrap;
          div.type {
            font-size: 12px;
          }
        }
        .paid {
          min-width: 70px;
          text-align: center;
          color: red;
          width: 25%;
        }
        .earned {
          min-width: 70px;
          text-align: center;
          width: 25%;
          i {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            margin-bottom: 5px;
          }
        }
      }
    }
    thead {
      text-align: center;
      color: #ea692b;
      border-bottom: 1px solid #ea692b;
      line-height: 0.3;
    }
  }
  i {
    border: solid $c-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 3px;

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.MuiAvatar-colorDefault {
  background-color: rgba(0, 0, 0, 0) !important;
}

.MuiBadge-colorPrimary {
  color: #fff;
  background-color: #1ec51b !important;
}

.MuiBadge-colorError {
  color: #fff;
  background-color: #006dff !important;
}

.MuiBadge-badge {
  font-size: 1rem !important;
  height: 20px !important;
}

.MuiAvatar-root {
  margin: auto;
  border-radius: 0%;
}
