@import '../../../styles/variables';

section.wires-list {
  width: 100%;

  table.wires-list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

    tbody,
    thead {
      border-bottom: 1px solid $c-mediumgrey;
      text-align: center;

      button {
        vertical-align: middle;
        color: $c-orange;
        border: 1px solid $c-orange;
        margin-top: -3px;
        margin-bottom: 0px;
        padding: 3px 6px;
        &.button-alt {
          color: $c-white;
          background-color: $c-orange;

          &:hover {
            border: 1px solid $c-darkred;
          }
        }
      }

      tr.peerInfo {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid $c-mediumgrey;

        &:last-child {
          border-bottom: 0px solid transparent;
        }

        td {
          min-width: 50px;
          padding: 5px 5px;
          vertical-align: middle;
          width: 20%;
          min-width: 100px;
          text-align: center;
        }

        .channel {
          padding-left: 30px;
        }

        .dot {
          height: 15px;
          width: 15px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          &.downloading {
            background-color: #006dff;
          }
          &.uploading {
            background-color: #1ec51b;
          }
          &.connecting {
            background-color: #717171;
          }
          &.disconnected {
            background-color: #616161;
            &:before {
              color: #fff;
              font-size: 13px;
              padding-left: 4px;
              position: absolute;
              content: '?';
            }
          }
          &.finished {
            background-color: #e8e8e8;
          }
          &.downloading,
          &.uploading,
          &.connecting {
            animation: pulsate 2s ease-in-out;
            animation-iteration-count: infinite;
            opacity: 1;
          }

          /* Tooltip text */
          .tooltiptext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 5px;
            border-radius: 6px;
            margin: -5px 20px;
            font-size: 12px;
            background-color: #717171;
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
          }

          /* Show the tooltip text when you mouse over the tooltip container */
          &:hover .tooltiptext {
            visibility: visible;
          }
        }

        .peer-id,
        .channel-id {
          text-align: center;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .channel-id {
          font-weight: bold;
        }

        .transferred {
          min-width: 50px;
          text-align: center;
          white-space: nowrap;
        }
        .paid {
          min-width: 70px;
          text-align: center;
          color: red;
          width: 25%;
        }
        .earned {
          min-width: 70px;
          text-align: center;
          width: 25%;
          i {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            margin-bottom: 5px;
          }
        }
      }
    }
    thead {
      text-align: center;
      color: #ea692b;
      border-bottom: 1px solid #ea692b;
      line-height: 0.3;
    }
  }
  i {
    border: solid $c-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 3px;

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
