@import '../../../styles/variables';

section.wires-list {
  width: 100%;

  table.wires-list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    tbody,
    thead {
      border-bottom: 1px solid $c-mediumgrey;
      text-align: center;

      button {
        vertical-align: middle;
        color: $c-orange;
        border: 1px solid $c-orange;
        margin-top: -3px;
        margin-bottom: 0px;
        padding: 3px 6px;
        &.button-alt {
          color: $c-white;
          background-color: $c-orange;

          &:hover {
            border: 1px solid $c-darkred;
          }
        }
      }

      tr.peerInfo {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid $c-mediumgrey;

        &:last-child {
          border-bottom: 0px solid transparent;
        }

        td {
          min-width: 50px;
          padding: 5px 5px;
          vertical-align: middle;
          width: 25%;
          min-width: 100px;
          text-align: left;
        }

        .channel {
        }

        .peer-id,
        .channel-id {
          text-align: left;
          font-style: italic;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100px;
        }

        .channel-id {
          font-weight: bold;
        }

        .transferred {
          min-width: 50px;
          text-align: center;
          white-space: nowrap;
        }
        .paid {
          min-width: 70px;
          text-align: right;
          color: red;
          width: 20%;
        }
        .earned {
          min-width: 70px;
          text-align: right;
          width: 20%;
          i {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            margin-bottom: 5px;
          }
        }
      }
    }
    thead {
      text-align: center;
      color: #ea692b;
      border-bottom: 1px solid #ea692b;
      line-height: 0.3;
    }
  }
  i {
    border: solid $c-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 3px;

    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
