@import '../../styles/variables';

table.domain-budget-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  thead {
    text-align: center;
    color: #ea692b;
    border-bottom: 1px solid $c-orange;
    line-height: 0.3;
  }

  tbody,
  thead {
    border-bottom: 1px solid $c-mediumgrey;
    text-align: center;

    tr.budget-info {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 1px solid $c-mediumgrey;

      &:last-child {
        border-bottom: 0px solid transparent;
      }

      td {
        min-width: 50px;
        padding: 5px 5px;
        vertical-align: middle;
        text-align: center;
      }

      td.budget-number,
      td.budget-identity,
      td.budget-button,
      td.budget-spent,
      td.budget-received {
        width: 25%;
      }
    }
  }
}

.CircularProgressbar {
  height: 40px;
}

.MuiAvatar-root {
  width: 30px !important;
  height: 30px !important;
}

.MuiAvatar-colorDefault {
  background-color: rgba(0, 0, 0, 0) !important;
}

.budget-button {
  vertical-align: middle;
  color: $c-orange;
  border: 1px solid $c-orange;
  margin-top: -3px;
  margin-bottom: 15px;
  padding: 3px 6px;
}
