@import '../../../styles/variables';

.PeerNetworkStats {
  margin-top: 20px;
  margin-bottom: 10px;
  color: $c-black;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-top: 0px;
}
