$rps-light-grey: rgba(255, 255, 255, 0.3);
$rps-dark-blue: #151b44;
$rps-red: #e34754;
$rps-white: #ffffff;
$rps-wallet-orange:#fe7439;
$rps-background: #fafafa;
$rps-wallet-muted: #f3f3f3;
$rps-wallet-grey: #595959;

$navbar-color: $rps-dark-blue;
$navbar-user-color: $rps-red; 
