@import '../../styles/variables';

table.share-list {
  width: 100%;
  border-collapse: collapse;
  tbody > tr:last-child {
    border-bottom: 0px;
  }
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;
}

@media only screen and (max-width: 550px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td.name-cell,
  td.button-cell,
  td.other-cell {
    border: none;
    position: relative;
    text-align: center;
    width: 100% !important;
    button {
      margin: 2px auto;
    }
  }

  td.name-cell {
    margin-top: 10px;
    font-weight: bold;
  }
  td.button-cell {
    margin-bottom: 10px;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
