@import '../../../styles/variables';

.header {
  background-color: $c-white;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
  margin: 50px auto 0px auto;
  padding-bottom: 30px;
  border-bottom: 1px solid $c-orange;
}

.header-logo {
  background: url('/assets/logo.svg') no-repeat;
  background-size: 100%;
  width: 196px;
  height: 29px;
  margin: 2px auto 2px 2px;
}

.header-logo-hidden {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  display: flex;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}

.logo-container {
  width: auto;
}

#github-button,
#faq-button {
  border: unset;
}
