@import '../../styles/variables';
section.fill {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 100px;
}
.jumbotron {
  background-image: url('/assets/jumbotron.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding-top: 52.55%;
  position: relative;

  margin-bottom: 10px;

  h1,
  h2 {
    font-size: 25px;
    line-height: 34px;
    width: 100%;
    text-align: center;
    margin-top: -200px;
    color: $c-white;
  }
  h2 {
    font-size: 15px;
    line-height: 40px;
    margin-top: 0px;
    letter-spacing: 2.78px;
    opacity: 94%;
  }
}

div.subtitle {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin: 20px auto 10px auto;

  p {
    margin: 0;
  }
  .actions-container {
    margin-bottom: 0;
    button {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.pulse {
  display: block;
  cursor: pointer;
  box-shadow: $c-orange;
  animation: pulse 5s infinite;
}
.shadow {
  box-shadow: 0 0 0 3px $c-orangealt;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 $c-orange;
  }
  70% {
    -webkit-box-shadow: 0 0 0 3px $c-orangealt;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 $c-orange;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 $c-orange;
    box-shadow: 0 0 0 0 $c-orange;
  }
  5% {
    -moz-box-shadow: 0 0 0 3px $c-orangealt;
    box-shadow: 0 0 0 3px $c-orangealt;
  }
  20% {
    -moz-box-shadow: 0 0 0 0 $c-orange;
    box-shadow: 0 0 0 0 $c-orange;
  }
  25% {
    -moz-box-shadow: 0 0 0 3px $c-orangealt;
    box-shadow: 0 0 0 3px $c-orangealt;
  }
  40% {
    -moz-box-shadow: 0 0 0 0 $c-orange;
    box-shadow: 0 0 0 0 $c-orange;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 $c-orange;
    box-shadow: 0 0 0 0 $c-orange;
  }
}
